body
  margin-bottom 20px

#chart
  height 400px

.hover:hover
  background lightgrey

.noOverflow
    overflow:hidden
    white-space:nowrap
    -ms-text-overflow: ellipsis
    -o-text-overflow: ellipsis    
    text-overflow:ellipsis
    width:100%
    display:block

.clickable
    cursor:pointer !important  
    
h4 > .markdownContainer > p
    font-size: 23px    
    
.form-inline > input
    display:inline-block    

.BobDump > code
    white-space: pre-wrap
    word-break: normal
    word-wrap: break-word