.row
  .eight.columns
    h3 Export
    div
      span Starting point: 
      input(ng-model='start',placeholder='1',size=4)
      span  days ago.
    div The export will include values up to one hour ago.
    div(ng-show='selection')
      h6 {{selection}}
      hr
      pre {{results}}
  .four.columns
    input(type='text',ng-model='query',placeholder='Search...')
    .hover(ng-repeat='row in status | filter:query | orderBy:"key"'
        ng-click='setSelection(row.key)') {{row.key}}
