.row
  .seven.columns
    h4(ng-bind-template='{{pkg.description}}') Home
    :markdown
      ----

      To run a quick demo, go to the **[Admin](admin)** page, click on the
      "rf12replay" and "drivers" items in the list of Briqs, and use the
      "Install" button to activate them both on the server. This starts
      generating simulated RF12 packet receptions.  Then install "status" and
      "jcw-staticdata" and go to **[Status](status)** for real-time updates.

      For a more elaborate demo, see the introduction called **[Dive Into
      JeeNodes](http://jeelabs.net/projects/cafe/wiki/Dive_Into_JeeNodes)**.

      _That's all there is for now – please check the
      **[weblog](http://jeelabs.org/tag/housemon/)** for any further news._

      ----
