.row
  .seven.columns
    h4 {{pkg.description}}
    :markdown
      ----

      To run a quick demo, go to the **[Admin](admin)** page and click on the
      "rf12replay" and "drivers" items in the list of Briqs, and click on
      "Install" to activate them both on the server. This starts generating
      simulated RF12 packet receptions.  Then install "status" and
      "jcw-staticdata" and go to the **[Status](status)** to see real-time
      updates.

      _That's all there is for now – please check the
      **[weblog](http://jeelabs.org/tag/housemon/)** for the latest news._

      ----
