p This is the partial for Diagram.

p#vdiagram(style='border: 1px solid lightgray; height: 400px;')

p
  :markdown
    * drag an output to an input to connect or vice-versa
    * double-click on a line to break the connection again
    * can't' create/delete nodes, nor load/save this, it's a hard-coded trial
    * adding and removing lines is now tracked in the data structure