p This is the partial for Diagram.

table(style='border: 0px' border='1')
  tr
    td#vdiagram

p
  :markdown
    * drag an output to an input to connect or vice-versa
    * inputs marked with "#" can accept multiple feeds
    * double-click on a line to break the connection again
    * can't' create/delete nodes, nor load/save this, it's a hard-coded trial