!!!
html(lang='en')
  head
    meta(charset='utf-8')
    style [ng-cloak] { display: none; }
    
    title Primus Live
    
    block styles
      link(rel='stylesheet',href='/main/style.css')

  body(ng-cloak)
    nav.top-bar(ng-controller='NavCtrl')
      ul.title-area
        li.name
          h1
            a(ng-href='{{appInfo.home}}')
              img(src='/main/logo.png',height=21,width=21)
              | &nbsp; {{appInfo.name}}
      section.top-bar-section
        ul.left
          li.myNav(ng-repeat='nav in navbar')
            a(ng-href='{{nav.route}}') {{nav.title}}
        ul.right
          li.myNav
            a(href='/admin') Admin

    .row
      .small-12.large-12.columns(ui-view)

    .secondary.label
      | Version 
      span(app-version)
    .label Connection: {{serverConnection}}
    .secondary.label @ {{ serverTick | date:'HH:mm:ss' }}

    block scripts
      script.
        console.log('MYAPP');
        angular.module('myApp', ['ui.router']);
      script(src='/primus/primus.js')
      script.
        console.log('BOOT');
        angular.module('myApp').constant('primus', new Primus);
        angular.bootstrap(document, ['myApp']);
