h3 Status

table
  tr
    th Driver
    th Origin
    th Name
    th Value
    th Time
  tr(ng-repeat='row in status | orderBy:"key"')
    td {{row.type}}
    td {{row.tag}}
    td {{row.name}}
    td(align='right') {{row.value}}
    td {{row.time | date:"MM-dd &nbsp; HH:mm:ss"}}
